/target/
/demo.txt
/demo.csv
/sdb_b2c_goods.csv
/.classpath
/*.iml
/.project
/.sdb_b2c_goods.csv.swp
/.dbeaver-data-sources.xml
/.idea/
/.vscode/
/.settings/
*.swp
/Scripts/
showcommit.bat
/*.csv
/*.bat
/**/.DS_Store
*.sql
*.txt
